<li id="favour-<%= favour.id %>">
  <%= link_to gravatar_for(favour.user, size: 50), favour.user %>

  <!--<span class="user"><%= favour.user.name %></span>-->

  <span class="title"><%= link_to favour.title, favour_path(favour) %></span>

  <span class="description"><%= favour.description %></span>

  <span class="timestamp">
    Posted <%= time_ago_in_words(favour.created_at) %> ago.
    <% if current_user?(favour.user) %>
      <%= link_to "Delete", favour, method: :delete,
                  data: { confirm: "You sure?" } %>
    <% end %>
  </span>

</li>