<% provide(:title, 'Edit your favour') %>
<h1>Update your favour!</h1>
<h2>Circumstances change? Think of a better title? Wanna make your location less specific?</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@favour) do |f| %>
        <%= f.label :title %>
        <%= f.text_field :title %>

        <%= f.label :description %>
        <%= f.text_field :description %>

        <%= f.label :deadline %>
        <!--<%= f.datetime_local_field :deadline %>-->
        <% puts 'deadline options is ' + :deadline_option.to_s %>
        <%= select_tag :deadline_option, options_for_select([['No Change', 0], ['Next 5 minutes', 1], ['Next hour', 2], ['Next few hours', 3], ['Anytime today', 4], ['End of the week', 5], ['Literally whenever', 6]]) %>

        <%= check_box_tag :use_new_current_location, checked = 'true' %>
        <%= label_tag :use_new_current_location, 'Use new current location?', {class: "checkbox inline"} %>

        <%= f.check_box :less_specific_location %>
        <%= f.label :less_specific_location, 'Display a less specific location?', {class: "checkbox inline"} %>

        <%= hidden_field_tag :lat, '', id: 'lat' %>
        <%= hidden_field_tag :long, '', id: 'long' %>

        <h2> Don't want to use current location? Give an alternate address!</h2>
        <%= label_tag :address %>
        <%= text_field_tag :address %>

        <%= f.submit 'Save Changes', class: "btn btn-primary" %>
    <% end %>
  </div>
</div>