<% provide(:title, 'Create your favour') %>
<h1>Create your new favour!</h1>
<h2>What do you need help with? Jump leads? Spare pen? Help lifting a heavy telly?</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@favour) do |f| %>
        <%= f.label :title %>
        <%= f.text_field :title %>

        <%= f.label :description %>
        <%= f.text_field :description %>

        <%= f.label :deadline %>
        <!--<%= f.datetime_local_field :deadline %>-->
        <%= select_tag :deadline_option, options_for_select([['Next 5 minutes', 1], ['Next hour', 2], ['Next few hours', 3], ['Anytime today', 4], ['Literally whenever', 5]]) %>

        <%= hidden_field_tag :use_current_location, false %>
        <%= check_box_tag :use_current_location, checked = true, onclick: "GetLocation()" %>
        <%= label_tag :use_current_location, "Use current location?", {class: "checkbox inline"} %>

        <%= hidden_field_tag :lat, '', id: 'lat' %>
        <%= hidden_field_tag :lng, '', id: 'lng' %>

        <% if :use_current_location != 1%>
            <%= label_tag :search_address %>
            <%= text_field_tag :search_address %>
        <% end %>

        <!--<%= f.submit 'Create my Favour', class: "btn btn-primary" %>-->
        <button onclick="GetLocation()">Submit</button>
    <% end %>
  </div>
</div>

<%= javascript_tag "var titleFavour = #{:title};" %>
<%= javascript_tag "var descriptionFavour = #{:description};" %>
<%= javascript_tag "var deadlineOption = #{:deadline_option};" %>
<%= javascript_tag "var useLocation = #{:use_current_location};" %>

<script type="text/javascript">

  function GetLocation() {
    window.alert("IVE BEEN CALLED")
    // Check if browser supports getting user location via geolocation
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(locateSuccess, locateFail);
    } else {
      alert("Your browser does not allow me to access your current location, sorry.");
    }
  }

  // Successful geolocation
  function locateSuccess(loc) {
    window.alert("SUCCESS")
    // Set the user's location
    //var userLocation = new Microsoft.Maps.Location(loc.coords.latitude, loc.coords.longitude);

    //$('#lat').val(loc.coords.latitude);
    //$('#lng').val(loc.coords.longitude);

    sendLocation(loc)
  }

  function sendLocation(loc){

    $.ajax({
      type: 'POST',
      url: '/favours/new',
      data: {
        title: titleFavour,
        description: descriptionFavour,
        deadline_option: deadlineOption,
        use_current_location: useLocation,
        lat: loc.coords.latitude.toString(),
        lng: loc.coords.longitude.toString()},
      //data: { message: 'hello'},
      //contentType: 'application/json',
      dataType: 'json'
    }).done(function(data){
      console.log(data)
    });

  }

  // Unsuccessful geolocation
  function locateFail(geoPositionError) {
    switch (geoPositionError.code) {
      case 0: // UNKNOWN_ERROR
        alert('An unknown error occurred, sorry');
        break;
      case 1: // PERMISSION_DENIED
        alert('Permission to use Geolocation was denied');
        break;
      case 2: // POSITION_UNAVAILABLE
        alert("Couldn't find you...");
        break;
      case 3: // TIMEOUT
        alert('The Geolocation request took too long and timed out');
        break;
      default:
    }
  }
</script>