<%= provide(:title, @favour.title) %>
<div class="row">

  <h3><%= @favour.title %></h3>

  <p><%= @favour.description %></p>

  <b>Deadline is </b><% if @favour.deadline.year >= 2117 %>
      Literally Whenever
  <% elsif @favour.deadline.today? %>
      Today at <%= @favour.deadline.strftime("%I:%M%p") %>
  <% elsif @favour.deadline.to_date == Date.tomorrow %>
      Tomorrow at <%= @favour.deadline.strftime("%I:%M%p") %>
  <% else %>
      <%=@favour.deadline.strftime("%d/%m/%Y at %I:%M%p")%>
  <% end %>

  <p>
    Posted <%= time_ago_in_words(@favour.created_at) %> ago.
    <% if current_user?(@favour.user) %>
      <%= link_to "Delete", @favour, method: :delete,
                  data: { confirm: "You sure?" } %>
    <% end %>
  </p>

  <p>Posted by : </p>
  <%= link_to gravatar_for(@favour.user, size: 50), @favour.user %>
  <span class="user"><%= link_to @favour.user.name, @favour.user %></span>

  <p></p>
  <%= link_to 'Send a message!', conversations_path(sender_id: current_user.id, receiver_id: @favour.user.id), method: 'post'%>

  <h3>Can you help? Post a comment!</h3>
  <section class="comment_form">
    <%= form_for [@favour, @comment], html: {class: "ui reply form"} do |f| %>
        <div class="field">
          <%= f.text_area :content, placeholder: "Compose new comment..." %>
          <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
        </div>
        <%= f.submit "Post", class: "btn btn-primary" %>
    <% end %>
  </section>

  <div class="col-md-8">
    <% if @favour.comments.any? %>
        <h3>Comments (<%= @favour.comments.count %>)</h3>
        <ul class="comments">
          <%= render @comments %>
        </ul>
    <% else %>
      <h3>No comments as of yet</h3>
    <% end %>
  </div>
</div>