<% provide(:title, 'Home') %>
<% if logged_in? %>
    <div class="row">
      <aside class="col-md-4">
        <h1>Your Homepage</h1>
        <section class="user_info">
          <%= render 'shared/user_info' %>
        </section>
        <h3>Need something?</h3>
        <section class="favour_form">
          <%= form_for(@favour) do |f| %>
              <%= render 'shared/error_messages', object: f.object %>

              <%= f.label :title %>
              <%= f.text_field :title %>

              <%= f.label :description %>
              <%= f.text_field :description %>

              <%= f.label :deadline %>
              <!--<%= f.datetime_local_field :deadline %>-->
              <%= select_tag :deadline_option, options_for_select([['Next 5 minutes', 1], ['Next hour', 2], ['Next few hours', 3], ['Anytime today', 4], ['End of the week', 5], ['Literally whenever', 6]]) %>

              <%= check_box_tag :use_current_location, checked = true, id: 'use', onclick: "GetLocation()" %>
              <%= label_tag :use_current_location, "Use current location?", {class: "checkbox"} %>

              <!--<div class="checkbox">-->
                <!--<p></p>-->
                <!--<label><input type="checkbox" id="use_current_location" value="true"><b>Use current location?</b></label>-->
              <!--</div>-->

              <%= hidden_field_tag :lat, '', id: 'lat' %>
              <%= hidden_field_tag :long, '', id: 'long' %>

              <h2> Don't want to use current location? Give an alternate address!</h2>
              <%= label_tag :address %>
              <%= text_field_tag :address %>

              <%= f.submit 'Create my Favour', class: "btn btn-primary" %>
          <% end %>

        </section>
      </aside>

      <div class="col-md-8">
        <h3>Can you help someone else?</h3>
        <section class="favours_feed">
          <%= render 'shared/favours_feed' %>
        </section>
      </div>
    </div>

<% else %>
  <div class="center jumbotron">
    <h1>Welcome to the Helping Hand</h1>

    <h2>
      Find and help others in your locality! Ask favours, view favours around you, and much more!
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

    <h2>Already a user? <%= link_to "Log in now!", login_path %></h2>
  </div>
<% end %>


<script>
  $(document).on('turbolinks:load', function(){
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(locateSuccess, locateFail);
    } else {
      alert("Your browser does not allow me to access your current location, sorry.");
    }
  })
  // Successful geolocation
  function locateSuccess(loc) {
    $('#lat').val(loc.coords.latitude);
    $('#long').val(loc.coords.longitude);
    $.ajax({
      type: 'POST',
      url: '/store_location/',
      data: {lat: loc.coords.latitude, lng: loc.coords.longitude},
      dataType: 'json'
    }).done(function(data){
      console.log(data)
    });
  }
  // Unsuccessful geolocation
  function locateFail(geoPositionError) {
    switch (geoPositionError.code) {
      case 0: // UNKNOWN_ERROR
        alert('An unknown error occurred, sorry');
        break;
      case 1: // PERMISSION_DENIED
        alert('Permission to use Geolocation was denied, please use a different browser');
        break;
      case 2: // POSITION_UNAVAILABLE
        alert("Couldn't find you...");
        break;
      case 3: // TIMEOUT
        alert('The Geolocation request took too long and timed out');
        break;
      default:
    }
  }
</script>